<div class="form">
    <form action="/realTimeProducts" id="productForm" method="post">
        <legend>Agregar Producto</legend>
        <div>
            <label>Titulo: </label>
            <input type="text" id="productTitle">
        </div>
        <div>
            <label>Descripción: </label>
            <input type="text" id="productDescription">
        </div>
        <div>
            <label>Precio: </label>
            <input type="number" id="productPrice">
        </div>
        <div>
            <label>Imagen: </label>
            <input type="text" id="productThumbnail">
        </div>
        <div>
            <label>Código: </label>
            <input type="text" id="productCode">
        </div>
        <div>
            <label>Estado: </label>
            <label>Verdadero</label>
            <input type="radio" name="productStatus">
            <label>Falso</label>
            <input type="radio" name="productStatus" id="productStatus">
        </div>
        <div>
            <label>Stock: </label>
            <input type="number" id="productStock">
        </div>
        <input type="submit" id="addProduct" value="Agregar">
    </form>
</div>

<div class="container">
    {{#each products}}
    <div class="product">
        <h4>{{title}}</h4>
        <img src="{{thumbnail}}" alt="imagen de {{title}}">
        <div class="product__info">
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Código: {{code}}</p>
        </div>
    </div>
    {{/each}}
</div>